<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="fr.kazejiyu.etos.pim.ecore.gen.scala.target" sequenceNumber="27">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="fr.obeo.dsl.designer.ce.feature.feature.group" version="10.0.1.201711151039"/>
<unit id="fr.obeo.dsl.designer.ce.feature.source.feature.group" version="10.0.1.201711151039"/>
<unit id="org.eclipse.acceleo.query.feature.group" version="6.0.2.201708211328"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.10.100.201606061308"/>
<unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.eef.sdk.feature.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.egit.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.compare.diagram.sirius.source.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.compare.egit.feature.group" version="1.2.2.201709090201"/>
<unit id="org.eclipse.emf.compare.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.2.201709090201"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.3.0.201706121316"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.6.2.v20171004-2006"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.3.1.v20170928-1405"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.1.v20171009-0537"/>
<unit id="org.eclipse.sirius.doc.feature.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.properties.feature.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.aql.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.runtime.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.samples.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.tests.support.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.sirius.tests.support.source.feature.group" version="5.0.2.201709080927"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.1.1.201307101628"/>
<repository location="http://www.obeo.fr/download/release/designer/10.0/community/latest/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.7.0.v20170515-1617"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.1.v20171009-0537"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
</locations>
</target>
